body {
    background-color: rgb(50, 50, 50);
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration-line: underline;
}
p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
a {
    color: rgb(214, 126, 10);
    text-decoration: none;
}

.alphabet {
    margin-top: 30px;
}

.alphabet table, td {
    text-align: center;
    border-spacing: 6px;
    width: fit-content;
    border: none;
}

.alphabet table tr:nth-child(odd) {
    font-family: exoalpha;
    font-size: 35px;
    color: white;
}

.alphabet table tr:nth-child(even) {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(214, 126, 10);
    font-weight: bold;
}

.cursor {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    white-space: nowrap;
    animation-name: flash;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    max-width: 20%;
}

.translation {
    min-width: 50%;
    max-width: 90%;
    word-break:break-all;
    background-color: white;
    min-height: 50px;
    vertical-align: bottom;
}

.textConv {
    color: black;
    font-size: 25px;
    vertical-align: top;
    display: inline;
    word-wrap: break-word;
    vertical-align: bottom;
}

.textConvExo {
    font-family: exoalpha;
    color: black;
    font-size: 45px;
    display: inline;
    word-wrap: break-word;
}

.charInput {
    margin-top: 20px;
}

.charInput table td {
    padding: 10px;
}

.about {
    margin-top: 30px;
}

.about table, td {
    width: 20px;
}

input[type=checkbox] {
    transform: scale(3);
    accent-color: black;
}

input[type=button] {
    transform: scale(1.25);
}

@font-face {
    font-family: "exoalpha";
    src: url("font/exo.ttf") format("truetype");
}

@font-face {
    font-family: "exoalpha_mono";
    src: url("font/exomono.ttf") format("truetype");
}

@keyframes flash {
    0% {opacity: 1;}
    49% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}
